# Imports

In [5]:
import pandas as pd
from maps import sexo_map, fumante_map, regiao_map

# Analyzing

In [6]:
dataset = pd.read_csv('../data/raw.csv')

dataset.head()

   idade       sexo     imc  criancas fumante    regiao  valor_pago
0     19   feminino  27.900         0     sim       sul    16884.92
1     18  masculino  33.770         1     nao   sudeste     1725.55
2     28  masculino  33.000         3     nao   sudeste     4449.46
3     33  masculino  22.705         0     nao  nordeste    21984.47
4     32  masculino  28.880         0     nao   sudeste     3866.86

In [7]:
dataset.count()

idade         1338
sexo          1338
imc           1338
criancas      1338
fumante       1338
regiao        1338
valor_pago    1338
dtype: int64

In [8]:
dataset.dtypes

idade           int64
sexo           object
imc           float64
criancas        int64
fumante        object
regiao         object
valor_pago    float64
dtype: object

In [9]:
dataset.describe()

             idade          imc     criancas    valor_pago
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422280
std      14.049960     6.098187     1.205493  12110.011259
min      18.000000    15.960000     0.000000   1121.870000
25%      27.000000    26.296250     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.693750     2.000000  16639.915000
max      64.000000    53.130000     5.000000  63770.430000

# Adjust

In [10]:
dataset["sexo"] = dataset['sexo'].map(sexo_map)
dataset["fumante"] = dataset['fumante'].map(fumante_map)
dataset["regiao"] = dataset['regiao'].map(regiao_map)
dataset.head()

   idade  sexo     imc  criancas  fumante  regiao  valor_pago
0     19     1  27.900         0        1       3    16884.92
1     18     0  33.770         1        0       4     1725.55
2     28     0  33.000         3        0       4     4449.46
3     33     0  22.705         0        0       1    21984.47
4     32     0  28.880         0        0       4     3866.86

# Export

In [11]:
dataset.to_csv('../data/processed.csv')